body {
	background-color: #7A7A7A;
	color: #66FF66;

}

li {
	font-family: sans-serif;
	margin: 10px;
	padding: 10px;
	border: black 1px dashed ;
	font-size: 18px;
	background-color: #4C4C4C;
	border-radius: 5px;
}


ul {
	list-style-type: none;
	width: 200px;
	display: block;
	margin: auto;
}

li:hover {
	color: white;
}

li:first-child {
	font-size: 26px;
	width: 300px;
	text-align: center;
	margin-left: -50px;
}